<!doctype html>
<html lang="en" ng-app="myapp">
<head>
  <meta charset="utf-8">
  <title>EvergrowCo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
  

</head>
<body ng-controller="myctrl">
  <div class="navigation">
    <div class="logo">
         <img src="logo.jpg" alt="">
    </div>

    <div class="right">
      <div class="search">
      
      <input type="text" placeholder="Search plants...">
      </div>
      
      <div class="search2">
      <i class="fa-solid fa-bell" class="not"></i>
      <div class="profile"></div>
      </div>
    </div>
  </div>


  <div class="formCont" ng-show="isadd">
    
        <form>
            <label for="plantName" >Plant Name</label>
            <input type="text" id="plantName" name="plantName" placeholder="e.g. Aloe Vera" required ng-model = "plant.name" />

            <label for="plantImage" >Plant Image URL</label>
            <input type="url" id="plantImage" name="plantImage" placeholder="https://example.com/plant.jpg" required  ng-model="plant.image"/>

            <label for="waterDays" >Water Needs (in days)</label>
            <input type="number" id="waterDays" name="waterDays" placeholder="e.g. 3" min="1" required ng-model="plant.water" ng-model="plant.water"/>

            <button type="submit" ng-click="submit()">Save Plant</button>
        </form>
  </div>

    <div class="container">
      <h1 class="my">My Plants</h1>
      <button class="add" ng-click="addPlant()"><i class="fa-solid fa-plus"></i>
Add New Plant</button>
    </div>

    <p class="task"><i class="fa-solid fa-calendar"></i>
Upoming Tasks</p>

<div class="container1">
  <div class="table-card">
  <table>
    <thead>
      <tr>
        <th>Plant</th>
        <th>Watering</th>
        <th>Sunlight</th>
        <th>Fertilization</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fiddle Leaf Fig</td>
        <td>In 2 days</td>
        <td>Bright, indirect</td>
        <td>In 3 weeks</td>
      </tr>
      <tr>
        <td>Snake Plant</td>
        <td>In 5 days</td>
        <td>Low to bright, indirect</td>
        <td>In 6 weeks</td>
      </tr>
      <tr>
        <td>Monstera</td>
        <td>In 3 days</td>
        <td>Bright, indirect</td>
        <td>In 4 weeks</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<div class="container2">
  <div class="section-title">
  <span>🌿</span> All Plants
</div>

<div class="plant-grid">

  <!-- Card 1 -->
  <div class="card">
    <img src="https://i.pinimg.com/736x/1e/df/50/1edf509da54a7fbfe8a527deeabf00e7.jpg" alt="Fiddle Leaf Fig">
    <div class="card-body">
      <div class="plant-name">Fiddle Leaf Fig</div>
      <div class="water-info"><span>💧</span> Water in 2 days</div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card">
    <img src="https://i.pinimg.com/736x/59/1b/b6/591bb68c7be1a39846b131a6870dbf4d.jpg">
    <div class="card-body">
      <div class="plant-name">Snake Plant</div>
      <div class="water-info"><span>💧</span> Water in 5 days</div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="card">
    <img src="https://i.pinimg.com/736x/d8/c5/d4/d8c5d49c8f17804245283dc0840e39ce.jpg" alt="Monstera">
    <div class="card-body">
      <div class="plant-name">Monstera</div>
      <div class="water-info"><span>💧</span> Water in 3 days</div>
    </div>
  </div>

   <!-- Card 4 -->
  <div class="card" ng-show="isSubmit" ng-repeat="p in plants">
    <img src="{{p.image}}" alt="Monstera">
    <div class="card-body">
      <div class="plant-name">{{p.name}}</div>
      <div class="water-info"><span>💧</span> Water in {{p.water}} days</div>
    </div>
  </div>
  
</div>

<script>
  var app = angular.module("myapp", []);

app.controller("myctrl", function($scope) {

    $scope.isadd = false; // for showing form  to create plant 
    $scope.isSubmit = false;
    $scope.plant = {};
    $scope.plants = [];

    $scope.addPlant = function() {
        $scope.isadd = true;
    };

    $scope.savePlant = function() {
        console.log($scope.plant);
        alert("Plant Added!");
    };

    $scope.submit = function(){
      $scope.isSubmit =true;
      $scope.isadd = false;
      // push a COPY of plant into array
      $scope.plants.push(angular.copy($scope.plant));
      
    }
      $scope.isSubmit = false;

});

</script>

<script src="logic.js"></script>
</body>
</html>
